@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

$maincolor: #353A5A;
$primarycolor: #FA9F42;
$secondprimarycolor: #10B582;
$bgcolor: #e5e5e541; 
$faqbgcolor: #FDFDFD;